@import "../mixins/mixins.less";
@import "../variables.less";


.overlay_style() {
  .overlay {
    .position-center(absolute);
    background-color: #000;
    opacity: .5;
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
    // animation-name: move-down;
    // animation-duration: 3s;
    // animation-fill-mode: forwards;
  }
}
