@import "../mixins/mixins.less";
@import "../variables.less";


.overlay_style() {
  .overlay {
    .position-center(absolute);
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
    animation-name: darkening-the-background;
    animation-duration: .3s;
    animation-fill-mode: forwards;
  }
}
